NODE_ENV=development
PORT=3003
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=auralux_music
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=auralux-music-service
JWT_SECRET=dev-secret-change-in-production
LOG_LEVEL=debug
